<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'tinymce', rows: 10 %>
    <%= tinymce uploadimage_hint: { hash_key: @hash, document_id: @article.id }.to_s %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.select :department_id, Department.all.collect {|dept| [dept.title, dept.id]} %>
  </div>
  <div class="actions">
    <%= f.hidden_field :hash_key, value: @hash %>
    <%= f.submit %>
  </div>
<% end %>
