<section id='frontpage'>
	<article id='featured' class='grid_12'>
		<header>
			<h1><%= link_to @featured_post.title, @featured_post if @featured_post %></h1>
		</header>
		<%= raw @featured_post.body.truncate(1600) if @featured_post %>
	</article>
	<article id='recent' class='grid_6'>
		<header>
			<h1><%= link_to @recent_post.title, @recent_post if @recent_post %></h1>
		</header>
		<%= raw @recent_post.body.truncate(1600) if @recent_post %>
	</article>
</section>

<section id='department_list' class='grid_12'>
	<header>
		<h1>Departments</h1>
	</header>
	<% Department.all.each do |dept| %>
		<%= link_to( eval("#{dept.code}_path"), id: "#{dept.code}", class: 'grid_4' ) do %>
			<%= content_tag :h2, dept.title %>
		<% end %>
	<% end %>
</section>