<section id='frontpage'>
	<article id='featured' class='grid_12'>
		<header>
			<h1><%= link_to @featured_post.title, @featured_post if @featured_post %></h1>
		</header>
		<%= raw @featured_post.body.truncate(1600) if @featured_post %>
	</article>
	<h1 class='title grid_12'>Recent Submissions</h1>
	<article id='recent' class='grid_6'>
		<header>
			<h1><%= link_to @recent_posts[0].title, @recent_posts[0] if @recent_posts[0] %></h1>
		</header>
		<%= raw @recent_posts[0].body.truncate(1600) if @recent_posts[0] %>
	</article>
	<article id='recent' class='grid_6'>
		<header>
			<h1><%= link_to @recent_posts[1].title, @recent_posts[1] if @recent_posts[1] %></h1>
		</header>
		<%= raw @recent_posts[1].body.truncate(1600) if @recent_posts[1] %>
	</article>
</section>

<section id='department_list' class='grid_12'>
	<header>
		<h1 class='title'>Departments</h1>
	</header>
	<% Department.all.each do |dept| %>
		<%= link_to( eval("#{dept.code}_path"), id: "#{dept.code}", class: 'grid_4' ) do %>
			<%= image_tag "#{dept.code}_logo.png", height: 60 %>
			<%= content_tag :h2, raw(dept.title.gsub('&', '&<br>')) %>
		<% end %>
	<% end %>
</section>