<header class='dept_header math clearfix'>
	<%= image_tag "math_logo.png" %>
	<h1>Mathematics</h1>
</header>

<article id='recent' class='math grid_12'>
	<header>
		<h1><%= link_to @recent_post.title, @recent_post if @recent_post %></h1>
	</header>
	<%= raw @recent_post.body.truncate(1600) if @recent_post %>
</article>

<% @posts.each do |post| %>
	<article class='math grid_6'>
		<header>
			<h1><%= link_to post.title, post %></h1>
		</header>
		<%= raw post.body.truncate(800) %>
	</article>
<% end %>