<p id="notice"><%= notice %></p>

<p>
  <strong>Sabstract:</strong>
  <%= @paper.sabstract_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @paper.user_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @paper.department_id %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @paper.date_published %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
