<%= form_for(@sabstract) do |f| %>
  <% if @sabstract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sabstract.errors.count, "error") %> prohibited this sabstract from being saved:</h2>

      <ul>
      <% @sabstract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :departmnent_id %><br>
    <%= f.number_field :departmnent_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
