<!DOCTYPE html>
<html>
<head>
  <title>UD Journal of Science</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body class='container_12'>

<header class='clearfix'>
	<%= image_tag "UDJS_Logo_1_Color_100px.png" %>
	<h2>University of Dallas Journal of Science</h2>
</header>

<nav>
	<ul class='clearfix'>
		<%= menu_button 'Home', root_path %>
		<%= menu_button 'Subscriptions', page_path('subscriptions') %>
		<%= menu_button 'Submit Content', page_path('submit_content') %>
		<%= menu_button 'Archives', page_path('archives') %>
		<%= menu_button 'About UDJS', page_path('about') %>
		<%= menu_button 'University of Dallas', 'http://www.udallas.edu' %>
		<%= menu_button 'Contact Us', page_path('contact') %>
		<%= menu_button 'Sign In', sign_in_path unless signed_in? %>
		<%= menu_button 'Sign Out', sign_out_path if signed_in? %>
	</ul>
</nav>

<%= render 'layouts/messages' unless flash.empty? %>

<%= yield %>

<footer>
	<p>&copy; 2014 University of Dallas</p>
</footer>

</body>
</html>
